<%- include('./layout')-%>
    <style>
        body {
            margin: 10px;
            padding: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        h2 {
            font-weight: bold;
            font-style: italic;
        }

        img {
            border-radius: 25px;
            position: relative;
            left: 20px;
        }

        .table td,
        .table th {
            vertical-align: middle;
        }

        h1 {
            color: blue;
        }

        hr {
            background-color: #ddd;
        }
    </style>
    <div class="d-flex flex-row align-items-center p-3 mx-3 bg-dark text-light" style="border-radius: 10px;">
        <span>THE BACKEND BURGER</span>
        <span class="p-3">Bienvenido <%=username%></span>

        <button class="btn btn-success my-3" style="position: absolute; right: 50px;"
            onclick="location.href='/logout'">
            Log out
        </button>

        <span 
        style="font-size: 1.5rem; color: lightblue; position: absolute; right: 190px;"
        id="carrito" 
        cantidad=<%=productosEnCarritoFiltrados%>>
            <i class="fas fa-shopping-cart"></i>
        </span>

        <img src=<%=photo%> style="width: 40px;"/>
    </div>

    <div class="jumbotron p-3">
        <h2 class="text-center">The backend burguer</h2>

        <h1>Productos</h1>
        <h6>
            <%productos[0]%>
        </h6>
        <br>
        <%if (hayProductos===true) {%>
            <div class="table-responsive">
                <table class="table table-dark ">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Foto</th>
                        <th>Precio</th>
                    </tr>
                    <% productos.forEach( producto=> { %>
                        <tr>
                            <td>
                                <button id=<%=producto._id%> class="btn btn-sm btn-success addCart">Add</button>
                                <%=producto.nombre%>
                            </td>
                            <td>
                                <%=producto.descripcion%>
                            </td>
                            <td><img width="40" src=<%=producto.imagen%> alt="" style="position: relative; left: 0px">
                            </td>
                            <td>
                                $<%=producto.precio%>
                            </td>
                        </tr>
                        <% }) %>
                </table>
            </div>
            <%}else {%>
                <h3 class="alert alert-warning">No se encontraron productos</h3>
                <%}%>
    </div>

    <script>

        const botones = document.querySelectorAll('.addCart')
        const cart = document.getElementById("carrito");
        const icon = document.getElementsByTagName("i");
       
        cantidadDeProductosEnCart = cart.getAttribute("cantidad");

        if (cantidadDeProductosEnCart>0){
            cart.setAttribute('style', 'font-size: 1.5em; color: red; position: absolute; right: 190px;')
            icon[0].innerHTML = `(${cantidadDeProductosEnCart})`;
            cart.addEventListener('click', ()=> location.href = "/carrito/cart")
        }

        if (cantidadDeProductosEnCart === 0) cart.removeEventListener('click')
        
        for (const boton of botones) {
            boton.addEventListener('click', e => {
                const productoId = e.target.id;

                //Al agregar un producto, se llama al endpoint correspondiente y se recarga la página.
                fetch(`/carrito/agregar/${productoId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        location.reload();
                    })
                    .catch(e => console.log("Error: ", e))
            })
        }


    </script>
    </body>

    </html>